html {
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    padding: 0; }

/* html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listHeaderH1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.theList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40pt;
  color: white;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  text-align: center;
}
ul li:nth-child(odd) {
  width: 100%;
  background: lightblue;
}

.close {
  padding: 10px;
  cursor: pointer;
}
 */
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: lightblue; }

.toDo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.listSection {
  background-color: blue;
  margin: 100px;
  padding: 0;
  cursor: pointer; }

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20pt; }

.closeButton {
  font-size: 25pt;
  color: blueviolet; }
  .closeButton .closeButton:hover {
    font-size: 10pt;
    cursor: pointer; }
