html {
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    padding: 0; }

/* html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listHeaderH1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.theList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40pt;
  color: white;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  text-align: center;
}
ul li:nth-child(odd) {
  width: 100%;
  background: lightblue;
}

.close {
  padding: 10px;
  cursor: pointer;
}
 */
