html {
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    padding: 0; }

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: rgba(64, 224, 208, 0.253); }

.done > .listParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: line-through;
  color: rgba(255, 166, 0, 0.185); }

#toDo_add-btn {
  display: flex;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  margin: 5px;
  cursor: pointer; }

#toDo_add-btn:hover {
  color: #272829; }

#toDo_add-btn::before {
  background-color: white;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: -1; }

#toDo_add-btn:hover::before {
  transform: scaleX(1); }

#toDo_input-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.toDo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 0.5rem;
  background: linear-gradient(152deg, rgba(138, 219, 243, 0.562) 26%, rgba(19, 170, 64, 0.26) 50%, #ffc423 100%); }
  .toDo_container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

#startPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 102px; }
  #startPageContainer .listSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
    #startPageContainer .listSection .theList {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.5rem;
      border: 2px solid white;
      border-radius: 0.5rem;
      margin-top: 10px;
      padding: 10px;
      width: 90%;
      background: linear-gradient(152deg, rgba(138, 219, 243, 0.562) 26%, rgba(19, 170, 64, 0.26) 50%, #ffc423 100%); }
      #startPageContainer .listSection .theList .doneButton {
        display: flex;
        font-size: 1rem;
        border: 3px solid white;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0.5rem;
        margin: 15px;
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        position: relative;
        transition: all 0.2s ease-in-out;
        width: 3rem;
        height: 50px; }
      #startPageContainer .listSection .theList .closeButton {
        display: flex;
        font-size: 1rem;
        border: 3px solid white;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0.5rem;
        margin: 15px;
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        position: relative;
        transition: all 0.2s ease-in-out;
        width: 3rem;
        height: 50px; }
      #startPageContainer .listSection .theList .closeButton:hover,
      #startPageContainer .listSection .theList .doneButton:hover {
        color: gray; }
      #startPageContainer .listSection .theList .closeButton::before,
      #startPageContainer .listSection .theList .doneButton::before {
        background-color: white;
        content: "";
        font-size: 1rem;
        text-align: center;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out;
        width: 100%;
        z-index: -1; }
      #startPageContainer .listSection .theList .closeButton:hover::before,
      #startPageContainer .listSection .theList .doneButton:hover::before {
        transform: scaleX(1); }
