//Font variables
$primaryColor: white;
$primaryFontFamily: sans-serif;

//Background variables
$primaryBackgroundColour: linear-gradient(
  152deg,
  rgba(58, 173, 180, 0.4990371148459384) 26%,
  rgba(253, 29, 207, 0.6699054621848739) 50%,
  rgba(252, 176, 69, 1) 100%
);
$secondaryBackgroundColour: linear-gradient(
  152deg,
  rgba(56, 43, 43, 0.499) 26%,
  rgba(87, 71, 83, 0.67) 50%,
  rgb(85, 77, 69) 100%
);
