//Font variables
$primaryColor: white;
$primaryFontFamily: sans-serif;

//Background variables
$primaryBackgroundColour: linear-gradient(
  152deg,
  rgba(58, 173, 180, 0.4990371148459384) 26%,
  rgba(253, 29, 207, 0.6699054621848739) 50%,
  rgba(252, 176, 69, 1) 100%
);
$secondaryBackgroundColour: linear-gradient(
  152deg,
  rgba(138, 219, 243, 0.562) 26%,
  rgba(19, 170, 64, 0.26) 50%,
  rgb(255, 196, 35) 100%
);
