html {
  margin: 0;
  padding: 0;
  font-family: $primaryFontFamily;
  color: $primaryColor;
  background-color: rgba(64, 224, 208, 0.253);
}

.done > .listParagraph {
  text-decoration: line-through;
  color: rgba(82, 80, 77, 0.226);
}

#toDo_add-btn {
  display: flex;
  background-color: transparent;
  border: 2px solid $primaryColor;
  border-radius: 0.5rem;
  color: $primaryColor;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  margin: 5px;
  cursor: pointer;
}

#toDo_add-btn:hover {
  color: #272829;
}

#toDo_add-btn::before {
  background-color: $primaryColor;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: -1;
}

#toDo_add-btn:hover::before {
  transform: scaleX(1);
}

#toDo_input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toDo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border: 2px solid $primaryColor;
  border-radius: 0.5rem;
  background: $secondaryBackgroundColour;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#startPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-bottom: 102px;

  .listSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    .theList {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.5rem;
      border: 2px solid $primaryColor;
      border-radius: 0.5rem;
      margin-top: 10px;
      padding: 10px;
      width: 90%;
      background: $secondaryBackgroundColour;

      .listParagraph {
        font-size: 1rem;
        width: 70%;
        height: 100%;
        padding: 30px;
        margin-right: 20px;
        background-color: rgba(64, 224, 208, 0.205);
        border-radius: 0.4rem;
      }

      .doneButton {
        display: flex;
        font-size: 2rem;
        border: 3px solid $primaryColor;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        position: relative;
        transition: all 0.2s ease-in-out;
        height: 2rem;
        width: 2rem;
      }

      .closeButton {
        display: flex;
        font-size: 2rem;
        border: 3px solid $primaryColor;
        justify-content: center;
        align-items: center;

        border-radius: 0.5rem;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        position: relative;
        transition: all 0.2s ease-in-out;
        height: 2rem;
        width: 2rem;
      }

      .closeButton:hover,
      .doneButton:hover {
        color: white;
      }

      .closeButton::before {
        background-color: rgba(207, 78, 78, 0.63);
        border-radius: 0.4rem;

        content: "";
        font-size: 1rem;
        text-align: center;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out;
        width: 100%;
        z-index: -1;
      }
      .doneButton::before {
        background-color: rgba(93, 216, 93, 0.473);
        border-radius: 0.4rem;

        content: "";
        font-size: 1rem;
        text-align: center;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out;
        width: 100%;
        z-index: -1;
      }

      .closeButton:hover::before,
      .doneButton:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
