/* html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listHeaderH1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.theList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40pt;
  color: white;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  text-align: center;
}
ul li:nth-child(odd) {
  width: 100%;
  background: lightblue;
}

.close {
  padding: 10px;
  cursor: pointer;
}
 */

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: lightblue;
}

.toDo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    display: flex;
  }
}
.listSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  width: 100%;
  height: 100%;
  background-color: brown;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  margin: 10px;

  font-size: 25pt;

  color: white;
  cursor: pointer;

  .closeButton:hover {
    font-size: 10pt;
  }
}
